<!-- navigaion bar-->
<script id="must-nav-bar" type="text/template">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar">
          </span>
          <span class="icon-bar">
          </span>
          <span class="icon-bar">
          </span>
        </button>
        <a href="../home/"> <span style="font-size: 40px;float:left;padding-top: 17px;margin-left:10px;" class="flag-icon flag-icon-background flag-icon-ke"> </span> </a>

        <a class="navbar-brand" href="../home/">MOH Data Service Layer</a>
      </div>
      <!-- /.navbar-header -->
      <ul class="nav navbar-top-links navbar-right">
        <ul class="nav navbar-nav pull-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i                                        class="fa fa-home" aria-hidden="true">
              </i> DSL <b class="caret">
            </b>
          </a>
          <ul class="dropdown-menu" style="right: 0;left:auto;">
            <li>
              <a href="../home/">DSL Home</a>
            </li>
            <li>
              <a href="../analytics/">DSL Analytics</a>
            </li>
            <li>
              <a href="../dashboard/">Drill Dashboard</a>
            </li>
          </ul>
        </li>
      </ul>
    </ul>
    <!-- /.navbar-top-links -->
    </nav>
</script>
<script id="location-org-units" type="text/template">
                        <label style="border-bottom: 1px solid black;" class="filter-label">County</label>
                        <div style="border-top: 1px solid #ebebe0;">
                          <div class="hide-select-list" style="float:right;">
                            <i style="color:#cc0000" class="far fa-window-maximize">
                            </i>
                          </div>
                          <div style="float:right;"> max </div>
                          <div style="clear: both;">
                            <div class="row pick-list">
                              <label class="radio-inline">
                                <input type="radio" value="cascade-all" name="optradiocounties">Cascade <br/> Constituency <br/> & Wards                </label>
                                <label class="radio-inline">
                                  <input type="radio" value="cascade-constituency" name="optradiocounties" >Cascade <br/> Constituency <br/> only                </label>
                                  <label class="radio-inline">
                                    <input type="radio" value="none" name="optradiocounties" checked>Do <br/> not <br/> Cascade                </label>
                                    <hr/>
                                    <br/>
                                    <div class="col-sm-5">
                                      <div class="list-group list-picker-group county-list">
                                        <a href="#"  class="list-group-item active">List 1 <input title="toggle all" class="all pull-right" type="checkbox">
                                        </a>
                                      </div>
                                    </div>
                                    <div style="padding:  0px;" class="col-md-2 v-center county-list-action">
                                      <button title="Send to list 2" class="btn btn-default center-block add">
                                        <i class="glyphicon glyphicon-chevron-right">
                                        </i>
                                      </button>
                                      <button title="Send to list 1" class="btn btn-default center-block remove">
                                        <i class="glyphicon glyphicon-chevron-left">
                                        </i>
                                      </button>
                                    </div>
                                    <div  class="col-sm-5">
                                      <div class="list-group list-picker-group">
                                        <a href="#" class="list-group-item active">List 2 <input title="toggle all" class="all pull-right" type="checkbox">
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <label style="border-bottom: 1px solid black;" class="filter-label">Constituency</label>
                              <div style="border-top: 1px solid #ebebe0;">
                                <div class="hide-select-list" style="float:right;">
                                  <i style="color:#cc0000" class="far fa-window-maximize">
                                  </i>
                                </div>
                                <div style="float:right;"> max </div>
                                <div style="clear: both;">
                                  <div class="row pick-list">
                                    <label class="radio-inline">
                                      <input type="radio" value="cascade-wards" name="optradioconstituency" >Cascade Wards                </label>
                                      <label class="radio-inline">
                                        <input type="radio" value="none" name="optradioconstituency" checked>Do not Cascade                </label>
                                        <hr/>
                                        <br/>
                                        <div class="col-sm-5">
                                          <div class="list-group list-picker-group constituency-list">
                                            <a href="#"  class="list-group-item active">List 1 <input title="toggle all" class="all pull-right" type="checkbox">
                                            </a>
                                          </div>
                                        </div>
                                        <div style="padding:  0px;" class="col-md-2 v-center constituency-list-action">
                                          <button title="Send to list 2" class="btn btn-default center-block add">
                                            <i class="glyphicon glyphicon-chevron-right">
                                            </i>
                                          </button>
                                          <button title="Send to list 1" class="btn btn-default center-block remove">
                                            <i class="glyphicon glyphicon-chevron-left">
                                            </i>
                                          </button>
                                        </div>
                                        <div  class="col-sm-5">
                                          <div class="list-group list-picker-group constituency-selected-list">
                                            <a href="#" class="list-group-item active">List 2 <input title="toggle all" class="all pull-right" type="checkbox">
                                            </a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <label style="border-bottom: 1px solid black;" class="filter-label">Ward</label>
                                  <div style="border-top: 1px solid #ebebe0;">
                                    <div class="hide-select-list" style="float:right;">
                                      <i style="color:#cc0000" class="far fa-window-maximize">
                                      </i>
                                    </div>
                                    <div style="float:right;"> max </div>
                                    <div style="clear: both;">
                                      <div class="row pick-list">
                                        <br/>
                                        <div class="col-sm-5">
                                          <div class="list-group list-picker-group ward-list">
                                            <a href="#"  class="list-group-item active">List 1 <input title="toggle all" class="all pull-right" type="checkbox">
                                            </a>
                                          </div>
                                        </div>
                                        <div style="padding:  0px;" class="col-md-2 v-center ward-list-action">
                                          <button title="Send to list 2" class="btn btn-default center-block add">
                                            <i class="glyphicon glyphicon-chevron-right">
                                            </i>
                                          </button>
                                          <button title="Send to list 1" class="btn btn-default center-block remove">
                                            <i class="glyphicon glyphicon-chevron-left">
                                            </i>
                                          </button>
                                        </div>
                                        <div  class="col-sm-5">
                                          <div class="list-group list-picker-group ward-selected-list">
                                            <a href="#" class="list-group-item active">List 2 <input title="toggle all" class="all pull-right" type="checkbox">
                                            </a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </script>
