<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>DSL Board</title>

        <!-- Bootstrap Core CSS -->
        <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

        <!--Jquery ui css-->
        <link href="../vendor/jquery/jquery-ui.css" rel="stylesheet" type="text/css"/>

        <!-- Custom CSS -->
        <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

        <link href="../dist/css/global-style.css" rel="stylesheet">
        
        <!--Esri ArcGIS files-->
        <link href="../dist/arcgis/css/main.css" rel="stylesheet">

        <!-- pivot -->
        <link href="../vendor/pivotjs/pivot.min.css" rel="stylesheet" type="text/css"/>

        <!-- Custom Fonts -->
        <!--<link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

        <!--data tables-->
        <link href="../vendor/datatables/css/datatables.min.css" rel="stylesheet" type="text/css"/>

        <!-- jquery ui theme -->
        <!--<link href="../vendor/jquery/jquery-ui-datepicker/jquery-ui.css" rel="stylesheet" type="text/css">-->

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->


        <style>
            html {
                height: 100%;
            }
            body {
                height: 100%;
            }
            .dropbtn {
                background-color: #4CAF50;
                color: white;
                padding: 16px;
                font-size: 16px;
                border: none;
                cursor: pointer;
            }

            /* Dropdown button on hover & focus */
            .dropbtn:hover, .dropbtn:focus {
                background-color: #3e8e41;
            }

            /* The search field */
            #myInput {
                border-box: box-sizing;
                background-image: url('searchicon.png');
                background-position: 14px 12px;
                background-repeat: no-repeat;
                font-size: 16px;
                padding: 14px 20px 12px 45px;
                border: none;
                border-bottom: 1px solid #ddd;
            }

            /* The search field when it gets focus/clicked on */
            #myInput:focus {outline: 3px solid #ddd;}

            /* The container <div> - needed to position the dropdown content */
            .dropdown {
                position: relative;
                display: inline-block;
            }

            /* Dropdown Content (Hidden by Default) */
            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f6f6f6;
                min-width: 230px;
                border: 1px solid #ddd;
                z-index: 1;
            }

            /* Links inside the dropdown */
            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

            /* Change color of dropdown links on hover */
            .dropdown-content a:hover {background-color: #f1f1f1}

            /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
            .show {display:block;}
            .pvtTotal, .pvtTotalLabel, .pvtGrandTotal {display: none;}
            .filter-label{
                display: inline-block;
            }
            .v-center {
                min-height:200px;
                display: flex;
                justify-content:center;
                flex-flow: column wrap;
            }
            .pick-list {
                margin: 0px;
                display: none;
            }
            .pick-list div:nth-child(2), .pick-list div:nth-child(4) {
                padding-left:  0px; padding-right:  0px;
            }
            .list-picker-group {
                overflow-y: auto;height: 300px; font-size: 10px;
                overflow-x: hidden;
            }
            .list-picker-group a {
                font-family: Georgia, serif;font-size: 11px;
            }
            
            #gismagic {
                height: 650px; 
                min-width: 310px; 
                margin: 0 auto; 
            }
            .highcharts-credits{
                display: none;
                color: transparent;
                width: 0;
                height: 0;
            }
            .loading {
                margin-top: 10em;
                text-align: center;
                color: gray;
            .month{
                display: none;
            }

        </style>


    </head>

    <body>

        <div style="height: 100%;">

            <!-- Navigation -->
            <div id="must-nav"></div>

            <div style="display: none;" id="global-danger-alert" class="alert alert-danger alert-dismissible">
                <a href="#" class="close" onclick="$('.alert').hide()" aria-label="close">&times;</a>
                <span class="alert-msg"><strong></strong></span>
            </div>


            <div style="width: 100%; height: 100% ;overflow: hidden;display: flex; flex-direction: row; flex-wrap: nowrap;margin-top: 20px;">
                <div style="flex-shrink: 0; width: 432px;overflow-y: auto;" class="categories">
                    <!-- Side bar -->
                    <div class="div-side-cover">

                        <!--                        <div class="div-side-left">
                                                    <label for="start-period">Start period:
                                                        <i class="fa fa-asterisk" style="color: #FF0000; visibility: hidden" aria-hidden="true"></i>
                                                    </label>
                                                    <input id="start-period" class="form-control time-period" name="start-period" type="text">
                        
                                                    <span class="expiryDate_validation error"></span>
                                                </div>
                        
                                                <div class="div-side-right">
                                                    <label for="end-period">End period:
                                                        <i class="fa fa-asterisk" style="color: #FF0000; visibility: hidden" aria-hidden="true"></i>
                                                    </label>
                                                    <input id="end-period" class="form-control time-period" name="start-period" type="text">
                        
                                                    <span class="expiryDate_validation error"></span>
                                                </div>-->

                        <div style="padding-left:10px;padding-left:0;"><i style="color: #336600;" class="fas fa-clock"></i> <strong>Periodicity</strong></div>
                        <hr/>
                        
                        <form>
                            <p style="display:inline-block; margin-right: 5px"><strong>Period Type:</strong> </p>
                            <label class="radio-inline">
                                <input type="radio" value="yearly" name="optradiotimespan" checked>Yearly
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="monthly" name="optradiotimespan">Monthly
                            </label>
                        </form>
                        <br/>

                        <form>
                            <div class="form-row">

                                <div style="padding-left:0;" class="form-group col-md-6">
                                    <label for="start_year">Start Year</label>
                                    <select id="start_year" class="form-control">
                                        <option value="2007">2007</option>
                                        <option value="2008">2008</option>
                                        <option value="2009">2009</option>
                                        <option value="2010">2010</option>
                                        <option value="2011">2011</option>
                                        <option value="2012">2012</option>
                                        <option value="2013">2013</option>
                                        <option value="2014">2014</option>
                                        <option value="2015">2015</option>
                                        <option value="2016">2016</option>
                                        <option value="2017">2017</option>
                                        <option value="2018">2018</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="end_year">End Year</label>
                                    <select id="end_year" class="form-control">
                                        <option value="2007">2007</option>
                                        <option value="2008">2008</option>
                                        <option value="2009">2009</option>
                                        <option value="2010">2010</option>
                                        <option value="2011">2011</option>
                                        <option value="2012">2012</option>
                                        <option value="2013">2013</option>
                                        <option value="2014">2014</option>
                                        <option value="2015">2015</option>
                                        <option value="2016">2016</option>
                                        <option value="2017">2017</option>
                                        <option value="2018">2018</option>
                                    </select>
                                </div>
                                
                                
                                <div style="padding-left:0;" class="form-group col-md-6 month">
                                    <label for="start_month">Start Month</label>
                                    <select id="start_month" class="form-control">
                                        <option value="1">Jan</option>
                                        <option value="2">Feb</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">Jul</option>
                                        <option value="8">August</option>
                                        <option value="9">Sep</option>
                                        <option value="10">Oct</option>
                                        <option value="11">Nov</option>
                                        <option value="12">Dec</option>
                                    </select>
                                </div>
                                
                                
                                <div style="padding-left:0;" class="form-group col-md-6 month">
                                    <label for="end_month">End Month</label>
                                    <select  id="end_month" class="form-control">
                                         <option value="1">Jan</option>
                                        <option value="2">Feb</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">Jul</option>
                                        <option value="8">August</option>
                                        <option value="9">Sep</option>
                                        <option value="10">Oct</option>
                                        <option value="11">Nov</option>
                                        <option value="12">Dec</option>
                                    </select>
                                </div>
                                
                            </div>
                        </form>


                    </div>

                    <div>
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <i style="color: #b30000;" class="fa fa-chart-line"></i> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Indicator
                                        </a><i class="fa fa-caret-down cat-caret"></i>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">

                                    <div class="panel-body">
                                        <!--<div class="form-group">-->
                                        <label class="radio-inline">
                                            <input type="radio" value="value" name="optradioindicator" checked>Value
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" value="average" name="optradioindicator" checked>Average
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" value="none" name="optradioindicator" checked="checked">None
                                        </label>
                                        <hr/>
                                        <h4 style="text-align: right">Filter Levels</h4>
                                        <hr/>
                                        <label style="border-bottom: 1px solid black;" class="filter-label">Indicator Group</label>
                                        <div style="border-top: 1px solid #ebebe0;">
                                            <div class="hide-select-list" style="float:right;"><i style="color:#cc0000" class="far fa-window-maximize"></i></div>
                                            <div style="float:right;"> max </div>
                                            <div style="clear: both;">

                                                <div class="row pick-list">
                                                    <br/>
                                                    <div class="col-sm-5">
                                                        <div class="list-group list-picker-group indicator-group-list">
                                                            <a href="#"  class="list-group-item active">List 1 <input title="toggle all" class="all pull-right" type="checkbox"></a>

                                                        </div>
                                                    </div>

                                                    <div  style="padding:  0px;" class="col-md-2 v-center dhis-indicator-group">
                                                        <button title="Send to list 2" class="btn btn-default center-block add"><i class="glyphicon glyphicon-chevron-right"></i></button>
                                                        <button title="Send to list 1" class="btn btn-default center-block remove"><i class="glyphicon glyphicon-chevron-left"></i></button>
                                                    </div>
                                                    <div   class="col-sm-5">
                                                        <div class="list-group list-picker-group">
                                                            <a href="#" class="list-group-item active">List 2 <input title="toggle all" class="all pull-right" type="checkbox"></a>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <label style="border-bottom: 1px solid black;" class="filter-label">Indicator</label>
                                        <div style="border-top: 1px solid #ebebe0;">
                                            <div class="hide-select-list" style="float:right;"><i style="color:#cc0000" class="far fa-window-maximize"></i></div>
                                            <div style="float:right;"> max </div>
                                            <div style="clear: both;">

                                                <div class="row pick-list">
                                                    <br/>
                                                    <div class="col-sm-5">
                                                        <div class="list-group list-picker-group indicator-name-list">
                                                            <a href="#"  class="list-group-item active">List 1 <input title="toggle all" class="all pull-right" type="checkbox"></a>

                                                        </div>
                                                    </div>

                                                    <div style="padding:  0px;" class="col-md-2 v-center dhis-indicator-name">
                                                        <button title="Send to list 2" class="btn btn-default center-block add"><i class="glyphicon glyphicon-chevron-right"></i></button>
                                                        <button title="Send to list 1" class="btn btn-default center-block remove"><i class="glyphicon glyphicon-chevron-left"></i></button>
                                                    </div>
                                                    <div  class="col-sm-5">
                                                        <div class="list-group list-picker-group" id="indicator-selected-name-list" >
                                                            <a href="#" class="list-group-item active">List 2 <input title="toggle all" class="all pull-right" type="checkbox"></a>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--<div class="location-org-units"></div>-->

                                    </div>

                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <i style="color: #0052cc;" class="far fa-hospital"></i> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Facility
                                        </a><i class="fa fa-caret-down cat-caret"></i>
                                    </h4>
                                </div>

                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <!--<div class="form-group">-->

                                        <label class="radio-inline">
                                            <input type="radio" value="count" name="optradiofacility" checked>Count
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" value="average" name="optradiofacility">Average
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" value="filter" name="optradiofacility">Use as filter
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" value="none" name="optradiofacility" checked="checked">None
                                        </label>
                                        <hr/>
                                        <h4 style="text-align: right">Filter Levels</h4>
                                        <hr/>
                                        <label style="border-bottom: 1px solid black;" class="filter-label">Facility Type</label>
                                        <div style="border-top: 1px solid #ebebe0;">
                                            <div class="hide-select-list" style="float:right;"><i style="color:#cc0000" class="far fa-window-maximize"></i></div>
                                            <div style="float:right;"> max </div>
                                            <div style="clear: both;">

                                                <div class="row pick-list">
                                                    <br/>
                                                    <div class="col-sm-5">
                                                        <div class="list-group list-picker-group facility-type">
                                                            <a href="#"  class="list-group-item active">List 1 <input title="toggle all" class="all pull-right" type="checkbox"></a>

                                                        </div>
                                                    </div>
                                                    <!--                                                     $(this).parents().eq(0).siblings(0).
                                                                                                         $(this).nextAll('div').eq(0).children('.hide-select-list').trigger( "click" );-->
                                                    <div style="padding:  0px;" class="col-md-2 v-center facility-type-action">
                                                        <button title="Send to list 2" class="btn btn-default center-block add"><i class="glyphicon glyphicon-chevron-right"></i></button>
                                                        <button title="Send to list 1" class="btn btn-default center-block remove"><i class="glyphicon glyphicon-chevron-left"></i></button>
                                                    </div>
                                                    <div  class="col-sm-5">
                                                        <div class="list-group list-picker-group" >
                                                            <a href="#" class="list-group-item active">List 2 <input title="toggle all" class="all pull-right" type="checkbox"></a>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <label style="border-bottom: 1px solid black;" class="filter-label">Facility Keph Level</label>
                                        <div style="border-top: 1px solid #ebebe0;">
                                            <div class="hide-select-list" style="float:right;"><i style="color:#cc0000" class="far fa-window-maximize"></i></div>
                                            <div style="float:right;"> max </div>
                                            <div style="clear: both;">

                                                <div class="row pick-list">
                                                    <br/>
                                                    <div class="col-sm-5">
                                                        <div class="list-group list-picker-group facility-keph-level">
                                                            <a href="#"  class="list-group-item active">List 1 <input title="toggle all" class="all pull-right" type="checkbox"></a>

                                                        </div>
                                                    </div>
                                                    <div style="padding:  0px;" class="col-md-2 v-center facility-keph-action">
                                                        <button title="Send to list 2" class="btn btn-default center-block add"><i class="glyphicon glyphicon-chevron-right"></i></button>
                                                        <button title="Send to list 1" class="btn btn-default center-block remove"><i class="glyphicon glyphicon-chevron-left"></i></button>
                                                    </div>
                                                    <div  class="col-sm-5">
                                                        <div class="list-group list-picker-group" >
                                                            <a href="#" class="list-group-item active">List 2 <input title="toggle all" class="all pull-right" type="checkbox"></a>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--<div class="location-org-units"></div>-->

                                    </div>

                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <i style="color: #a300cc;" class="fas fa-capsules"></i> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Commodity
                                        </a><i class="fa fa-caret-down cat-caret"></i>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">

                                    <div class="panel-body">
                                        <!--<div class="form-group">-->

                                        <label class="radio-inline">
                                            <input type="radio" value="count" name="optradiocommodity" checked>Count
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" value="average" name="optradiocommodity">Average
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" value="none" name="optradiocommodity" checked="checked">None
                                        </label>
                                        <hr/>
                                        <!--                                        <h4 style="text-align: right">Filter Levels</h4>
                                                                                <hr/>-->

                                        <!--<div class="location-org-units"></div>-->

                                    </div>


                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFive">
                                    <h4 class="panel-title">
                                        <i style="color: #00cc66;" class="fas fa-male"></i> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                            Human Resource
                                        </a><i class="fa fa-caret-down cat-caret"></i>
                                    </h4>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">

                                    <div class="panel-body">
                                        <!--<div class="form-group">-->
                                        <label class="radio-inline">
                                            <input type="radio" value="count" name="optradiohresource" checked>Count
                                        </label>

                                        <label class="radio-inline">
                                            <input type="radio" value="average" name="optradiohresource">Average
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" value="none" name="optradiohresource" checked="checked">None
                                        </label>
                                        <hr/>
                                        <h4 style="text-align: right">Filter Levels</h4>
                                        <hr/>
                                        <label style="border-bottom: 1px solid black;" class="filter-label">Cadre Groups</label>
                                        <div style="border-top: 1px solid #ebebe0;">
                                            <div class="hide-select-list" style="float:right;"><i style="color:#cc0000" class="far fa-window-maximize"></i></div>
                                            <div style="float:right;"> max </div>
                                            <div style="clear: both;">

                                                <div class="row pick-list">

                                                    <label class="radio-inline">
                                                        <input type="radio" value="cascade-all" name="optradiocadres">Cascade to cadres
                                                    </label>

                                                    <label class="radio-inline">
                                                        <input type="radio" value="none" name="optradiocadres" checked>Do not Cascade to cadres
                                                    </label>
                                                    <hr/>

                                                    <br/>
                                                    <div class="col-sm-5">
                                                        <div class="list-group list-picker-group cadre-group-list">
                                                            <a href="#"  class="list-group-item active">List 1 <input title="toggle all" class="all pull-right" type="checkbox"></a>

                                                        </div>
                                                    </div>

                                                    <div style="padding:  0px;" class="col-md-2 v-center cadre-group-action">
                                                        <button title="Send to list 2" class="btn btn-default center-block add"><i class="glyphicon glyphicon-chevron-right"></i></button>
                                                        <button title="Send to list 1" class="btn btn-default center-block remove"><i class="glyphicon glyphicon-chevron-left"></i></button>
                                                    </div>
                                                    <div  class="col-sm-5">
                                                        <div class="list-group list-picker-group" >
                                                            <a href="#" class="list-group-item active">List 2 <input title="toggle all" class="all pull-right" type="checkbox"></a>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <label style="border-bottom: 1px solid black;" class="filter-label">Cadre</label>
                                        <div style="border-top: 1px solid #ebebe0;">
                                            <div class="hide-select-list" style="float:right;"><i style="color:#cc0000" class="far fa-window-maximize"></i></div>
                                            <div style="float:right;"> max </div>
                                            <div style="clear: both;">

                                                <div class="row pick-list">
                                                    <br/>
                                                    <div class="col-sm-5">
                                                        <div class="list-group list-picker-group cadre-list">
                                                            <a href="#"  class="list-group-item active">List 1 <input title="toggle all" class="all pull-right" type="checkbox"></a>

                                                        </div>
                                                    </div>

                                                    <div style="padding:  0px;" class="col-md-2 v-center cadre-name-action">
                                                        <button title="Send to list 2" class="btn btn-default center-block add"><i class="glyphicon glyphicon-chevron-right"></i></button>
                                                        <button title="Send to list 1" class="btn btn-default center-block remove"><i class="glyphicon glyphicon-chevron-left"></i></button>
                                                    </div>
                                                    <div  class="col-sm-5">
                                                        <div class="list-group list-picker-group cadre-selected-list" >
                                                            <a href="#" class="list-group-item active">List 2 <input title="toggle all" class="all pull-right" type="checkbox"></a>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <!--<div class="location-org-units"></div>-->

                                    </div>


                                </div>

                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingSix">
                                    <h4 class="panel-title">
                                        <i style="color: #3399ff;" class="fas fa-map"></i> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                            Locality
                                        </a><i class="fa fa-caret-down cat-caret"></i>
                                    </h4>
                                </div>
                                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">

                                    <div class="panel-body">

                                        <div class="location-org-units"></div>

                                    </div>


                                </div>

                            </div>

                        </div>
                    </div>
                    <!-- End Side bar -->

                    <!-- /.sidebar-collapse -->
                </div>


                <div style="flex-shrink: 0; flex-grow: 1; overflow-x: scroll; width: 30em; white-space: nowrap;" class="content-item">

                    <!-- content area heading -->
                    <!--                    <div class="row">
                                            <h4 class="page-header">DSL</h4>
                                        </div>-->
                    <!-- end content area heading -->

                    <!-- /content area -->

                    <button style="margin-bottom: 3px;" class="btn btn-primary btn-sm" onclick="updateData()">Update Data</button>
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#gis">GIS</a></li>
                        <li><a data-toggle="tab" href="#table">Table</a></li>
                        <li><a data-toggle="tab" href="#pivot">Pivot</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="gis" class="tab-pane fade in active">
                            <!-- pivot table -->
                            <div id="gismagic" style="margin: 20px; min-height: 450px;">
                                <div class="alert alert-info">Loading map&hellip;</div>
                            </div>
                        </div>
                        <div id="table" class="tab-pane fade">
                            <br/>
                            <div>
                                <table id="analytics-table" class="display" style="width:100%">

                                </table>
                            </div>
                        </div>
                        <div id="pivot" class="tab-pane fade">
                            <!-- pivot table -->
                            <div id="output" style="margin: 30px;"></div>
                        </div>
                        

                    </div>

                    <!-- /end content area -->
                </div>
                <!-- /#page-wrapper -->
            </div>

        </div>
        <!-- /#wrapper -->

        <!-- jQuery -->
        <script src="../vendor/jquery/jquery.min.js"></script>

        <!--data table-->
        <!--<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.18/datatables.min.js"></script>-->

        <!--<script src="../vendor/jquery/jquery-ui.js"></script>-->


        <script
            src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>

<!-- Bootstrap Core JavaScript -->
        <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="../vendor/datatables/js/datatables.min.js" type="text/javascript"></script>
        <script src="../vendor/datatables/js/ColReorderWithResize.js" type="text/javascript"></script>
        <!-- Custom Theme JavaScript -->
        <script src="../dist/js/sb-admin-2.js"></script>

        <script src="../vendor/pivotjs/pivot.min.js" type="text/javascript"></script>

        <script src="../vendor/mustache/mustache.js" type="text/javascript"></script>

        <script>
                        $(document).ready(function () {

                            $.get('include/templates.html', function (templates) {
                                // Fetch the <script /> block from the loaded external
                                // template file which contains our greetings template.
                                var templateNavBar = $(templates).filter('#must-nav-bar').html();
                                $('#must-nav').append(Mustache.render(templateNavBar));
                                var templateOrgUnits = $(templates).filter('#location-org-units').html();
                                $('.location-org-units').append(Mustache.render(templateOrgUnits));
                            });

                            ko.applyBindings(viewModel);

                            $('body').on('click', '.filter-label', function (e) {
                                $(this).nextAll('div').eq(0).children('.hide-select-list').trigger("click");
                            });

                            $('body').on('click', '.hide-select-list', function (e) {
                                $(this).nextAll().eq(1).children('.pick-list').toggle(400);
                                var text = $(this).next().html();
                                if (text == 'max') {
                                    $(this).next().html("min");
//                                    $(this).next().css("background-color", "red");
                                } else {
                                    $(this).next().html("max");
//                                    $(this).next().css("background-color", "blue");
                                }

                            });


                            // $('.demo').dropdown({});
                            //$('#couty-list').multiselect();
                            //$('#constituency-list').multiselect();
                            //$('#ward-list').multiselect();
                        });

        </script>
        <!-- jquery date picker -->
        <script src="../vendor/jquery/jquery-ui-datepicker/jquery-ui.js"></script>

        <!--Esri ArcGIS files-->
        <!--  <script src="../dist/arcgis/js/dojo.js"></script> -->

        <!--HighMaps files-->
        <script src="../dist/highmaps/highmaps.js"></script>
        <script src="../dist/highmaps/data.js"></script>
        <script src="../dist/highmaps/exporting.js"></script>
        <script src="../dist/highmaps/offline-exporting.js"></script>
        <script src="../dist/highmaps/analytics-config.js"></script>
        
        
        <script type="text/javascript" src="../vendor/knockout/knockout-3.4.2.js"></script>
        
        <script src="../dist/js/dsl/common/data-loader.js" type="text/javascript"></script>
        <script src="../dist/js/dsl/viewmodel/analytics/Dhis.js" type="text/javascript"></script>
        <script src="../dist/js/dsl/viewmodel/analytics/Location.js" type="text/javascript"></script>
        <script src="../dist/js/dsl/viewmodel/analytics/kmfl.js" type="text/javascript"></script>
        <script src="../dist/js/dsl/viewmodel/analytics/kemsa.js" type="text/javascript"></script>
        <script src="../dist/js/dsl/viewmodel/analytics/ihris.js" type="text/javascript"></script>
        <script src="../dist/js/dsl/viewmodel/analytics/event_hooks.js" type="text/javascript"></script>
        
        <!-- pivot -->

        <link href="../vendor/jquery/multi-select/jquery.dropdown.min.css" rel="stylesheet" type="text/css"/>
        <!--<script src="../vendor/jquery/multi-select/jquery.dropdown.min.js" type="text/javascript"></script>-->
        <script src="../vendor/jquery/multi-select/jquery.dropdown.min.js" type="text/javascript"></script>
        <!--<script src="../vendor/jquery/multi-select/tt.js" type="text/javascript"></script>-->

        <!-- Charting -->
        <link href="../vendor/c3/c3.min.css" rel="stylesheet" type="text/css"/>
        <script src="../vendor/d3/d3.min.js" type="text/javascript"></script>
        <script src="../vendor/c3/c3.min.js" type="text/javascript"></script>

        <!-- Pivot js renderers -->
        <script src="../vendor/pivotjs/c3_renderers.min.js" type="text/javascript"></script>

        
        <!--Esri ArcGIS config-->
        <!-- <script>
            require([
                "esri/Map",
                "esri/views/MapView"
              ], function(Map, MapView) {
                var map = new Map({
                  basemap: "streets"
                });
                var view = new MapView({
                  container: "gismagic",  // Reference to the DOM node that will contain the view
                  map: map               // References the map object created in step 3
                });
              });
        </script>-->
        
        
        <!--HighMaps config-->
        <script>
            // county
            var data = [['1', 728],['2', 710],['3', 100],['4', 541],['5', 622],['6', 866],['7', 398],['8', 785],['9', 223],['10', 605],['11', 237],['12', 157],['13', 134],['14', 136],['15', 99],['15', 361],['16', 728],['17', 710],['18', 963],['19', 541],['20', 622],['21', 866],['22', 398],['23', 785],['24', 102],['25', 605],['26', 237],['27', 157],['28', 134],['29', 136],['30', 704],['31', 361],['32', 605],['33', 237],['34', 157],['35', 134],['36', 136],['37', 704],['38', 361],['39', 728],['40', 10],['41', 963],['42', 541],['43', 622],['44', 866],['45', 398],['46', 102],['47', 223]];
            loadMap('county', data);
        </script>



        <script>
                        $(document).ready(function () {


                            //  dataTable.destroy();
                            ko.applyBindings(viewModel);

                            // $('.demo').dropdown({});
                            //$('#couty-list').multiselect();
                            //$('#constituency-list').multiselect();
                            //$('#ward-list').multiselect();
                        });


                        $(function () {
                            $(".time-period").datepicker({
                                dateFormat: "dd/mm/yy",
                                changeYear: true,
                                yearRange: "-10:nn"

                            });
                        });


                        var sum = $.pivotUtilities.aggregatorTemplates.sum;
                        var numberFormat = $.pivotUtilities.numberFormat;
                        var intFormat = numberFormat({digitsAfterDecimal: 0});

                        //pivot

                        var derivers = $.pivotUtilities.derivers;
                        var renderers = $.extend($.pivotUtilities.renderers,
                                $.pivotUtilities.c3_renderers);
//                var renderers = $.pivotUtilities.renderers

//                var renderers = $.pivotUtilities.c3_renderers;
                        var tpl = $.pivotUtilities.aggregatorTemplates;
                        var intFormat = numberFormat({digitsAfterDecimal: 0});
                        $("#output").pivotUI(
                                [
                                    {indicator: "antinatal", facility: "embakasi", value: 20, cadre: "nurse(6)"},
                                    {indicator: "antinatal", facility: "ngara", value: 26, cadre: "ent(10)"},
                                    {indicator: "antinatal", facility: "shauri-moyo", value: 24, cadre: "dental(4)"},
                                    {indicator: "antinatal", facility: "zimmerman hospital", value: 49, cadre: "nurse(30)"},
                                    {indicator: "sickle", facility: "embakasi", value: 23, cadre: "ent(3)"},
                                    {indicator: "sickle", facility: "ngara", value: 25, cadre: "nurse(30)"},
                                    {indicator: "sickle", facility: "shauri-moyo", value: 24, cadre: "pychiatrist(30)"},
                                    {indicator: "sickle", facility: "zimmerman hospital", value: 48, cadre: "doc(30)"}

                                ],
                                {
                                    cols: ["indicator"],
                                    rows: ["facility", "cadre"],
                                    rendererName: "Horizontal Stacked Bar Chart",
                                    renderers: renderers,
                                    rendererOptions: {
                                        c3: {data: {colors: {
                                                    Liberal: '#dc3912', Conservative: '#3366cc', NDP: '#ff9900',
                                                    Green: '#109618', 'Bloc Quebecois': '#990099'
                                                }}}},
                                    aggregators: {
                                        "Indicator value": function () {
                                            return tpl.average(intFormat)(["value"])
                                        }//,
                                        //"Indicator summary": function () {return tpl.count()(["value"])}
                                    }
                                }
                        );
                        $.pivotUtilities.c3_renderers;




        </script>

    </body>

</html>
